<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/config"></ion-back-button>
    </ion-buttons>
    <ion-title>Sectors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let sector of sectorsarray; let i = index; " size="4">
        <ion-button size="large" expand="fill" fill="clear" (click)="clickSector(sector)">
          <img src="assets/img/{{sector}}.png">
          <ion-icon *ngIf="selectedSectors.includes(sector)" class="sector-selector" ios="ios-checkmark-circle"
            md="md-checkmark-circle" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape="round" expand="full" color="secondary" (click)="update()">
          Update Sectors
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>