<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="user">
        <ion-icon name="person"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="company">
        <ion-icon name="people"></ion-icon>
        <ion-label>Company</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>