:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-primary-contrast), var(--ion-color-primary));
    }

}
.list-form {
    margin-left: 20px;
    margin-right: 20px;
}
ion-item{
    border-radius: 5px;
    margin-top: 10px;
}

ion-item:first-child{
    margin-top: 5vh;
}
 
ion-item.item {
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 1px;
    .label {
        width: 10%;
        color: rgba(0, 0, 0, 0.6);
        font-size: 1.2em;
    }
}

.sector-selector {
    position: absolute;
    right: 10px;
    top: 0px;   
    width: 30px; 
}

.sector-picker {
    margin-top: 20px;
}
.image-picker {
    margin-bottom: 20px;
    div:first-child {
        margin-top: 20px;
        margin-bottom: 10px;
        display: inline-flex;
    }
    ion-fab-button {
        width: 30px;
        height: 30px;
        margin-top: -4px;
    }
    ion-img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

#submitBtn {
    margin-top: 30px;
    margin-bottom: 50px;
}