<ion-content>
  <form [formGroup]="onCompanySingupForm" class="list-form" (ngSubmit)="uploadImage()">
    <ion-item no-padding>
      <ion-icon name="people" item-start></ion-icon>
      <ion-input type="email" formControlName="companyname" placeholder="name" item-end></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.companyname">
        <div class="error-message"
          *ngIf="onCompanySingupForm.get('companyname').hasError(validation.type) && (onCompanySingupForm.get('companyname').dirty || onCompanySingupForm.get('companyname').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item no-padding>
      <ion-icon name="locate" item-start></ion-icon>
      <ion-input type="text" formControlName="address" placeholder="Address" item-end></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.address">
        <div class="error-message"
          *ngIf="onCompanySingupForm.get('address').hasError(validation.type) && (onCompanySingupForm.get('address').dirty || onCompanySingupForm.get('address').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item no-padding>
      <ion-label color="dark">City</ion-label>
      <ion-select formControlName="city">
        <ion-select-option value="nes">New York</ion-select-option>
        <ion-select-option value="n64">Los Angeles</ion-select-option>
        <ion-select-option value="ps">London</ion-select-option>
        <ion-select-option value="genesis">Paris</ion-select-option>
        <ion-select-option value="saturn">São Paulo</ion-select-option>
        <ion-select-option value="snes">Tokyo</ion-select-option>
        <ion-select-option value="snes">New Delhi</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.city">
        <div class="error-message"
          *ngIf="onCompanySingupForm.get('city').hasError(validation.type) && (onCompanySingupForm.get('city').dirty || onCompanySingupForm.get('city').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item no-padding>
      <ion-icon name="mail" item-start></ion-icon>
      <ion-input type="email" formControlName="email" placeholder="Email" item-end></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message"
          *ngIf="onCompanySingupForm.get('email').hasError(validation.type) && (onCompanySingupForm.get('email').dirty || onCompanySingupForm.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item no-padding>
      <ion-icon name="call" item-start></ion-icon>
      <ion-input type="tel" formControlName="phone1" placeholder="Phone 1" item-end></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.phone1">
        <div class="error-message"
          *ngIf="onCompanySingupForm.get('phone1').hasError(validation.type) && (onCompanySingupForm.get('phone1').dirty || onCompanySingupForm.get('phone1').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item no-padding>
      <ion-icon name="call" item-start></ion-icon>
      <ion-input type="tel" formControlName="phone2" placeholder="Phone 2" item-end></ion-input>
    </ion-item>
    <div class="sector-picker">
      Select your sectors
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let sector of sectorsarray; let i = index; " size="4">
            <ion-button size="large" expand="fill" fill="clear" (click)="clickSector(sector)">
              <img src="assets/img/{{sector}}.png">
              <ion-icon *ngIf="selectedSectors.includes(sector)" class="sector-selector" ios="ios-checkmark-circle"
                md="md-checkmark-circle" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-item no-padding>
      <ion-textarea formControlName="officetime" placeholder="Describe the opening hours" row="5" item-end>
      </ion-textarea>
    </ion-item>

    <div class="image-picker" (click)="getImages()">
      <div>
        Select your company logo
        <ion-fab-button color="primary" size="small">
          <ion-icon name="cloud-upload"></ion-icon>
        </ion-fab-button>
      </div>
      <div text-center>
        <ion-img [src]="croppedImagepath != '' ? croppedImagepath : companyLogo"></ion-img>
      </div>
    </div>

    <ion-item no-padding>
      <ion-icon name="lock" item-start></ion-icon>
      <ion-input type="password" formControlName="password" placeholder="Password" item-end></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error-message"
          *ngIf="onCompanySingupForm.get('password').hasError(validation.type) && (onCompanySingupForm.get('password').dirty || onCompanySingupForm.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button icon-left size="medium" expand="full" shape="round" color="dark" type="submit" id="submitBtn"
    [disabled]="!onCompanySingupForm.valid" tappable>
      <ion-icon name="log-in"></ion-icon>
      Signup
    </ion-button>
  </form>

</ion-content>